[Unit]
Description=cwork

[Service]
ExecStart=/opt/go/cwork/run.sh
WorkingDirectory=/opt/go/cwork
StandardOutput=null
Restart=on-failure

# Increase the default a bit in order to allow many simultaneous
# files to be monitored, we might need a lot of fds.

[Install]
WantedBy=multi-user.target
Alias=cwork.service
