[Unit]
Description=cwork

[Service]
ExecStart=/opt/int/corono/corono-work/run.sh
WorkingDirectory=/opt/int/corono/corono-work
StandardOutput=null
Restart=on-failure

# Increase the default a bit in order to allow many simultaneous
# files to be monitored, we might need a lot of fds.

[Install]
WantedBy=multi-user.target
Alias=cwork.service
