{{ define "index" }}

{{ template "header" }}

<div><center><a href="/reg/">Регистрация</a><a href="/enter/">Вход</a><a href="/reghelp/">Справка по регистрации</a><a href="/userhelp/">Хочу поставить у себя</a><center></div>
<div>
    <p>
        Это проект не для больных коронавирусом. И не для параноиков, здесь нет советов, какие
        маски надевать, где и что купить, сколько килограммов парацетамола следует приобрести и прочее.
	Это проект для тех кто хочет выжить, и не умерть ни от коронавируса, ни от голода.
        
    </p>
    <p>
        Это благотворительный проект, для всех сотрудников, бедных менеджеров, бухгалтеров, да хоть мам со школьниками,
        хоть преподавателям из института, для того чтобы сидя на карантнине продолжать работать, так чтобы это было удобно. 
	Пока что сервер зарегистрирован на месяц, так что вся регистрация только по инвайтам,
        и только проверенным людям. По всем вопросам вот сюда work собака shushik.net Если никому не понадобится - через месяц сверну.
    </p>
<p>Для чего это все? Для засекреченного документооборта, и общения. А именно, для того чтобы
испуользуя публичную сеть ИНтеренет не выдать приватныую информацию. Для этого используется 
технология VPN.</p>
<p>
VPN, это сокращение от Virtual Privet Networn, на русском виртуальная приватная сеть, к которой имеют доступ ограниченное количество людей.
Так по пытаюсь на пальцах оьяснить. Это значит что вы просто входите в офис, где находится
ваше рабочее место, включаете свой компьютер, если в офиси следят за секретностью, то
вводите логин пароль, и получаете данные к внутрекорпоративным данным.</p>
<p>
В данном случае, когда вы сидите дома вы делаете примерно тоже самое. Просто 
входите на сервер на котором лежат корпоративныее данные с помощь логина и пароля.
Кто не знает данных - входа не получит, и ничего не прочитает. Вообще-то
нормальные конторы уже об этом позаботилились. Если нет, мы здесь.
Но в условиях когда всем туго, не стоит быть единоличником, поэто мы делимся нашими наработаками
</p>
<p>Дальше перейдите в раздел "Справка по регистрации" и внимательно прочитайте все. Даже те кто
долго сидит в инете давно, и давно гуляет по социальным сетям.</p>

</div>

{{ template "footer" }}

{{ end }}