{{ define "index" }}

{{ template "header" }}

<div><center><a href="/reg/">Регистрация</a><a href="/enter/">Вход</a><a href="/reghelp/">Справка по регистрации</a>'<center></div>
<div>
    <p>
        Это проект не для больных короновирусом. И не для параноиков, здесь нету советов, какиме
        маски одевать, где купить что, сколько киллограмов парацетамола надо купить и прочее. Это не реклама.
        Я не хочу заработать на этом деньги, хотя щас безработный.
    </p>
    <p>
        Это благодтворительный проект, для всех сотрудников, бедных менеджеров, бухгалтеров, да хоть мам со школьниками,
        хоть преподователям из института, для того чтобы сидя на карантнине не подохнуть с голоду, а если вас заставляют
        работать, то чтобы это было удобно. Пока что сервер зареган на месяц, так что вся регистрация только по инвайтам,
        и только проверенным людям. По всем вопросам вот сюда work собака shushik.net Если никому не понадобитсмя - через месяц сверну.
    </p>
    <p>
        З.Ы, Заточенно под винду, щас я напишу полныю инструкцию по испоользованию, которая будет внутри.
    </p>

</div>

{{ template "footer" }}

{{ end }}