{{ define "index" }}

{{ template "header" }}

<div><h1>Здравствуйте, {{.Tmp}} </h1></div>
<div><center><a href="/reg2/">Зарегистрировать юзера</a><a href="https://192.168.22.1:8443/">Початится</a><a href="/exit/">Выйти</a></center></div>

<div>
<p>
А теперь, как обещал, что делать дальше. Вам понадобится зайти на сервер с помощу VPN.
Это виртуальная приватная сеть, к которой имеют доступ ограниченное количество людей.
Что нужно конторе? Документо оборот и общение. Для более сложных решений, нужны более
сложные решение, я сделал простое, для любой небольшой организации.
</p>
<p>
Вы зарегистрировались и вошли на сайт. Теперь, опять же повторя, делалось для виндоуз,
да пингвинятники и яблочники, вы меня щас шапками закидаете. :)))))))) Вот у меня винда,
я подключен к сети, смотрю в трей, внижнем правом углу и вижу там иконку<p>
<img src="/static/winnet.png">
    <br>
<p>
Вон ту что с монитором и вилкой. У владельцев ноутов может быть нарисована аннтенка,
если они по вайваю подлюченны. Нажимаем на нее и видим</p>
<img src="/static/winne2.png">
    <br>
<p>Нажимаем "Параметры сети и Интернет", получаем:</p>
    <br>
<img src="/static/winnet3.png">
    <br>
<p>Здесь нам нужна вкладака VPN. На нее и жмем:</p>
    <br>
<img src="/static/winet4.png">
    <br>
<p>Жмем плюсик чтобы добавить подключение. Вводим параметры, которые вы указывали при регистрации.
Адрес тот же что и адрес сайта, логин и пароль тоже. Пароль сохранять необязательно,
тогда оно просто прикаждом обращении будет у вапс его спрашивать</p>
<img src="/static/vovavpn.png">
    <br>
<p>И сохранаем. Увидим картинку:</p>
    <br>
<img src="/static/cvpn.png">
    <br>
<p>И жмем подключить. Оно там почавкает, и подключится.</p>
<p>Теперь пятиминутка ненависти к Билли. Раньше, еще в внде 8 была специальная
кнопка, для того чтобы весь интернет, после подключения к вируальной сети был доступен
от вашего провайдера, но щас ее просто убрали. В винде 10. И теперь оно думает,
что через офисный сервак можно хоть кино смотреть сразу сотне людей. Так вот убирается это так.
Вы подключились, пото запускаете PowerShell от имени администратор вот так:</p>
<img src="/static/padin.png">
<p>
потом смотрите на подключение командой<br>
Get-VpnConnection<br>
Затем отрубаете связь вот так<br>
Set-VpnConnection -Name "имя вашего соединения” -SplitTunneling $true<br>
И все. Вроде в следующий раз больше не попросит. Проверка очень простая.
Поднялся ли вообще инет у вас после этого. Простите. Это добрый Мелкомягкий.
Вот скриншот:</p>
<img src="/static/powers.png">

<p>
Так для чего мы это делали. Видим что подключились, закрываем эту окно с настройками, и попробуем 
зайти в свою сетевую папку. Для того чтобы разрешить доступ по сети, винда у вас на это разрешения
поросит. Давайте.
в поиске винды пишем \\192.168.22.1\логин (который указывался при регистрации)
То есть у меня будет \\192.168.22.1\vova999 Если спросит пароль логин пароль вводим. </p>
<img src="/static/vf.png">
<p> Мы оказались в папке нашей группы, которая называется по логину того, кто ее создал.
Теперь мы можем туда зайти и что-то записать. Вон у меня файлик, я его положу.</p>
<img src="/static/docf.png">
<p>Теперь нам нужно чтобы этот файл и кто-то другой увидел. Мы переходим на https://corono-work.org.ua/home и нажимаем
Зарегистрировать юзера. И регистрируем.
</p>
<img src="/static/vasyacr.png">
<p>
Теперь Вася у себя из дома точно так же заходит на впн, под своим логином и паролем, и смотрит на этот файл. Вот так.
\\191.168.22.1\vova999 Там же он видит и свою папку. В которую тоже накидать может и вы оба можете их поменять.
</p>
</div>

{{ template "footer" }}

{{ end }}