{{ define "index" }}

{{ template "header" }}

<div><h1>Здравствуйте, {{.Tmp}} </h1></div>
<div><center><a href="/reg2/">Зарегистрировать юзера</a><a href="https://192.168.22.1:8443/">Початится</a><a href="/exit/">Выйти</a></center></div>

<div>
<p>
А теперь, как обещал, что делать дальше. Вам понадобится зайти на сервер с помощу VPN.
Это виртуальная приватная сеть, к которой имеют доступ ограниченное количество людей.
Что нужно конторе? Документо оборот и общение. Для более сложных решений, нужны более
сложные решение, я сделал простое, для любой небольшой организации.
</p>
<p>
Вы зарегистрировались и вошли на сайт. Теперь, опять же повторя, делалось для виндоуз,
да пингвинятники и яблочники, вы меня щас шапками закидаете. :)))))))) Вот у меня винда,
я подключен к сети, смотрю в трей, внижнем правом углу и вижу там иконку<br>
<img src="/static/winnet.png">
    <br>
Вон ту что с монитором и вилкой. У владельцев ноутов может быть нарисована аннтенка,
если они по вайваю подлюченны. Нажимаем на нее и видим <br>
<img src="/static/winne2.png">
    <br>
Нажимаем "Параметры сети и Интернет", получаем:
    <br>
<img src="/static/winnet3.png">
    <br>
Здесь нам нужна вкладака VPN. На нее и жмем:
    <br>
<img src="/static/winne4.png">
    <br>
Жмем плюсик чтобы добавить подключение. Вводим параметры, которые вы указывали при регистрации.
Адрес тот же что и адрес сайта, логин и пароль тоже. ПАроль сохранять необязательно,
трогда оно просто прикаждом обращении будет у вапс его спрашивать<br>
<img src="/static/vovavpn.png">
    <br>
И сохранаем. Увидим картинку:
    <br>
<img src="/static/cvpn.png">
    <br>
И жмем подключить. Оно там почавкает, и подключится. И кстати учтите,
винда штука дубовая, у вас в этот момент может отвалится и скайп, и вабер, и телеграмм и прочее.
</p>
<p>
Так для чего мы это делали. Видим что подключились, закрываем эту окно с настройками, и попробуем 
подключить сетевой диск.

</p>
</div>

{{ template "footer" }}

{{ end }}