{{ define "index" }}

{{ template "header" }}

<div><center><a href="/reg/">Регистрация</a><a href="/enter/">Вход</a><center></div>
<div>
    <h1>Как зарегистрироваться?</h1>

    <p> Мне тут намекнули, что далеко не все подкованы для этого, поэтому пошагово расcказываю</p>
    <p>Итак, вы зашли на сайт и увидели картинку:<br>
    <img src="/static/site.png"><br>
    Для того, чтобы пользоватся сайтом нужно зарегистрироваться. Если к примеру, вы главная
    персона, которая будет управлять группой людей, которые будут этим сервисом пользоватся, то регистрируетесь вы,
    потом из под своего аккаунта сможете зарегистрировать людей, которым тоже будет разрешен доступ к файлам,
    и общему чату. Если вам нужен доступ к файлам этой конкретной группы людей, то регистрация просто с главной страницы ва не поможет.
    Обрщайтесь к руководителю.. :)
    </p>
    <p>
    Жметете регистрация<br>
    <img src="/static/vova.png"><br>
    Моноеж выбрать любой логин, 
    главное чтобы он был уникален в системе. Если он уже занят, сайт вам об этом сообшит. Еща раз подчеркну,
    В логине только маленькие латинские буквы, и цифры. Никаких спец символов. Никаких равно, плюс, никаких знаков припенания.
    Инвайт. Скорее всего он вам попадет в руки вместе с адресом сайта, а так это просто защита и от ботов,
    и от наплыва людей. Пароль два раза одинаковый, не ошибайтесь. :)))))))))
    </p>
    <p>
    В случае ошибки всплывет такое, это просто как пример, еще будет конкрено приведено, где вы ошиблись:<br>
    <img src="/static/err.png"><br>
    В случае удачи:<br>
    <img src="/static/enter.png"><br>
    </p>
    <p>
    Тут логинимся с вашими данными, что вы ввели, и видите картинку.
    <img src="/static/sign.png"></br>
    Вы зашли на сайт, и можете создавать юзеров, для своей группы.
    </p>
    <p>
    Будьте аккуртными с логинами паролями, иначе увиде вот такое:<br>
    <img src="/static/err2.png"><br>
    </p>

<p>
Регистрация вас не только это сделала. Она зарегистрировала вам юзера на сайте, юзера в VPN,.юзера
в сети по обмену файлами, а так же юзера для чата. Логин и пароль для всех служб один и тот же, тот
что вы вы вводили при регистрации.</p>
<p>
Ориентир шел на Windows 10. Поэтому несмотря на то что сервис работает на линуксе, мы это предусмотрели.
Сначала, чтобы пользоватся файлообменом и чатом вам нужно зайти в VPN. Решется проблема достаточно
просто, вместо нажимания на кучу кнопочек, мы нажимаем на иконку поиска и вводим PowerShell.
Оно его быстро найдет и вам понадобится его запустить от имени администратора.
</p>
<img src="/static/padin.png">
<p>
Теперь просто копируете вот эту строчку прямо отсюдова в окошко что выскочило:
</p>
<p style="font-family: 'Courier'">Add-VpnConnection -Name "Test3" -ServerAddress "185.151.245.249" -TunnelType "Pptp" -EncryptionLevel "Required" -AuthenticationMethod MSChapv2 -SplitTunneling -AllUserConnection -RememberCredential -PassThru</p>
<p>
Нажимаете  Enter. В этой строчке заданы параметры нашего сервера, и как Windows к нему подлючатся.
После этого PowerShell закрыть.
Все VPN создан, теперь вы можете нажать  на кнопку с сетями, в правом нижнем углу, или монитор с вилкой, или вай-фай,
то антенка, и там появилось подключение "Test3" как мы и и просили. Нажимете на него,вводите все тот  логин и пароль,
которые указывали при регистрации - и ждете, когдап установится соединине. Это недолго.
Windows запоминит ваши данныен, в следующий раз набор повторять не придется..
</p>
<p>
Дальше нам нужно менятся файлами. Открываем проводник и пишем \\192.168.22.1\логин указанный при регистрации.
Windows спросит логин пароль, увидете там папку c вашим же логином, а если созданы еще юзера в этой группе,
то и их папки. Когда руководитель группы создает юзера, ему тут же создается папка. Теперь,
передвигаясь между этими папками вы можете обмениватся данными с друг другом, редактировать, копировать, как на собственном компьютере.
Дочернему юзеру, которого создал руководитель группы, должен заайти в папку \\192.168.22.1\логин_руководителя, а там уже он увидит папку,
со своим логином.
<p>

<p>Для общения на соответсующу нажимаете ссылку початится, там опятьвсе тот же логин пароль. Далее
вводите название для чата, передаете ссылку тому человеку что тоже сидит в впне, к сожалению, вам ссылку придется переслать каким либо
иным способом чем через нашу систему, используйте простые названия, которые легко передать, Достаточно просто договорится всем, о том как
называть. После установки соединиения, назавания старых чатов будут сохранятся.
Письменный чат там тоже есть, видео и аудио можно приглушить. На nosecure не обращайте внимание.
Это просто ошибка иза-за черезмерной осторожности, которую так просто не обойти.<p>

<p>Все работайте на здоровье. Если у вас есть сисадмин в организации, то он может воспользоватся моими заметками, что я написал в следующем пункте меню.
Если вы простой пользователь - вам это читать необязательно.</p>

</div>

{{ template "footer" }}

{{ end }}