{{ define "index" }}

{{ template "header" }}

<div><center><a href="/reg/">Регистрация</a><a href="/enter/">Вход</a><center></div>
<div>
    <h1>Как зарегистрироватся?</h1>

    <p> Мне тут намекнули, что далеко не все подковыанны для этого, поэтому пошагово расcказываю</p>
    <p>Итак, вы зашли на сайт, и увидели картинку:<br>
    <img src="/static/site.png"><br>
    Для того, чтобы пользловатся сайтом нужно зарегистрироватся. Если к примеру, вы главная
    персона, которая будет упралять группой людей, который тут будут висить, то регистрируетесь вы,
    потом из под своего аккаунта сможете зарегистрировать людей, которым тоже будет разрешен доступ к файлам,
    и общему чату. Если вы не из группы людей, и не главная персона, вам это не нужно, у вас все есть и так.
    А если вы из группы людей - обраайтесь к старосте. :)
    </p>
    <p>
    Жметете регистрация<br>
    <img src="/static/vova.png"><br>
    Логин выбираете какой угодно.
    главное чтобы он был уникален в системе. Введете что-то вроде vova, и он будет занят. Еща раз подчеркну,
    В логине только маленкие латинские буквы, и цифры. Никаких спец символо. Никакх равно плюс, никакх знаков припинания.
    Поэто назовитесь каким-то своитм произвещем или псвдонимом,
    чтобы не возникло проблем. Инвайт. Скорее всего он вам попадет в руки вместе с адресом сайта, а так это просто защита и от ботов,
    и от наплыва людей. ПАроль два раза одинаковый, не ошибайтесь, и это, для того кто там руглася, что я не сделал запоминане
    полей, и все переходится перебивать, вот уж с таким-то опытом, можно было в броузере нажать стрелочку назад, :)))))))))
    </p>
    <p>
    В случае ошибки всплывет такое такое:<br>
    <img src="/static/err.png"><br>
    В случае удачи:<br>
    <img src="/static/enter.png"><br>
    </p>
    <p>
    Тут логинимся с вашими данными, что вы ввели, и видите картинку.
    <img src="/static/sign.png"></br>
    А снизу будет помощь как тут работать, что такое обен файлами от майкрософта, и сети от майкрософта, это я напишу,
    как вот эти строчки закончу писать. :))))
    </p>
    <p>
    Будьте аккуртными с логинами паролями, иначе увиде вот такое:<br>
    <img src="/static/err2.png"><br>
    </p>

<p>
После регистрации, входите на сайт.
Но регистрация не только это сделала. Она зарегистрировала вам юзера на сайте, юзера в VPN,.юзера
в сети по обемену файлами, а так же юзера для чата. Логины и пароли у всех одинаковые.
Если вы первый кто зареглся - вы босс, и можете добавлять других юзеров в группу, вашего собственного
имени.</p>
<p>
И вот вы виндовый юзер, с какой-нибудь 10-ой виндой хотите подключится к впн, что бы и файлов насоздавать,
, и початится. Я сначала писал длительные объясния как это делать руками, а потом нашел как сделать быстро
и просто. Пару нажатием кнопочек и копипастом. В виндовуз 10 набираете в поиске powershell, и запускаете
его от имени администратора. Вот:
 </p>
<img src="/static/padin.png">
<p>
Теперь просто копируете вот эту строчку прямо отсюдова в окошко что выскочило:
</p>
<p style="font-family: 'Courier'">Add-VpnConnection -Name "Test3" -ServerAddress "185.151.245.249" -TunnelType "Pptp" -EncryptionLevel "Required" -AuthenticationMethod MSChapv2 -SplitTunneling -AllUserConnection -RememberCredential -PassThru</p>
<p>
Жмете Enter.
Все VPN создан, теперь вы жмете на кнопку с сетями, в правом нижнем углу, или монитор с вилкой, или вай-фай,
то антенка, и там появилось подключение. Test3. Жмете туда, вводите данные, логин и пароль,
которые указывали при регистрации - и ждете, когда написано что подключенно. 
Оно автоматом запоминает данные, в следующий раз нажмете - подключится само.
</p>
<p>
Что дальше? Открываем проводник и пишем \\192.168.22.1\логин указанный при регистрации.
Винда спросит логин пароль, опять вводите все те же данные, и если вы первый юзер, кроторый только 
зарегался, увидете там папку, с названием вашего логина. Вот это ваша домашшняя папка. Теперь
регистрируете еще сколько нужно юзеров (на сайте) когда вы уже зашли на сайт от своего имени,
И и у них всех появится папка в вашей группе. Вы сможете заходить, смотреть, обмениватся документами
с другими пользователями, которых зарегистрируете. Подчеркну для непонятливых, тех пользователей,
которые не просто зароегистрирована на титульной странице, а тех которые зарегистрированы вот отсюдова
https://corono-work.org.ua/home/ И они тоже должны будут заходить в папку \\192.168.22.1\login и логин должен быть
не их, а тог, который родительский. Того пользователя который на титульной странице нажал регистрация,
а не тот логин который вы для него создали.<p>

<p> Хотите пообщатся, жмете на соответсующу кнопку, там опять линия обороны логин пароль, потом
вводите название для чата, передаете ссылку тому человеку что тоже сидит в впне, и видете и слышите друг друга.
Письменный чат там тоже есть видео и аудо можно приглушить. НА nosecure не обращайте внимание. Я не могу зарегать
сертификать просто для апишки внутреннего сайта.<p>

<p>Все работайте на здоровье. А я того пожалуй сейчас допишу проект до того состояния, чтобы его
мог использовать любой начинающий админ, у которого минимальные знания в линуксе, и открою код.</p>

</div>

{{ template "footer" }}

{{ end }}