{{ define "index" }}

{{ template "header" }}

<div><center><a href="/reg/">Регистрация</a><a href="/enter/">Вход</a><center></div>
<div>
    <h1Как зарегистрироватся?</h1>

    <p> Мне тут намекнули, что далеко не все подковыанны для этого, поэтому пошагово расcказываю</p>
    <p>Итак, вы зашли нга сайт, и увидели картинку:<br>
    <img src="/static/site.png"><br>
    Для того, чтобы пользловатся сайтом нужно зарегистрироватся. Если к примеру, вы главная
    персона, которая будет упралять группой людей, который тут будут висить, то регистрируетесь вы,
    потом из под своего аккаунта сможете зарегистрировать людей, которым тоже будет разрешен доступ к файлам,
    и общему чату. Если вы не из группы людей, и не главная персона, вам это не нужно, у вас все есть и так.
    А если вы из группы людей - обраайтесь к старосте. :)
    </p>
    <p>
    Жметете регистрация<br>
    <img src="/static/vova.png"><br>
    Логин выбираете какой угодно, его все равно будете набирать только вы, и показыватся он нигде не будет,
    главное чтобы он был уникален в системе. Поэто назовитесь каким-то своитм произвещем или псвдонимом,
    чтобы не возникло проблем. Для всх пунктов применинмы только буквы и цыфры, никаких специальных знаков, или 
    вас не пустят. Инвайт. Скорее всего он вам попадет в руки вместе с адресом сайта, а так это просто защита и от ботов,
    и от наплыва людей. ПАроль два раза одинаковый, не ошибайтесь, и это, для того кто там руглася, что я не сделал запоминане
    полей, и все переходится перебивать, вот уж с таким-то опытом, можно было в броузере нажать стрелочку назад, :)))))))))
    </p>
    <p>
    В случае ошибки всплывет такое такое:<br>
    <img src="/static/err.png"><br>
    В случае удачи:<br>
    <img src="/static/enter.png"><br>
    </p>
    <p>
    Тут логинимся с вашими данными, что вы ввели, и видите картинку.
    <img src="/static/sign.png"></br>
    А снизу будет помощь как тут работать, что такое обен файлами от майкрософта, и сети от майкрософта, это я напишу,
    как вот эти строчки закончу писать. :))))
    </p>
    <p>
    Будьте аккуртными с логинами паролями, иначе увиде вот такое:<br>
    <img src="/static/err3.png"><br>
    Щас я все опишу, как пользоватся и для чего это все.
    </p>
</div>

{{ template "footer" }}

{{ end }}