{{ define "index" }}

{{ template "header" }}

<div><center><a href="/reg/">Регистрация</a><a href="/enter/">Вход</a><a href="/reghelp/">Справка по регистрации</a>'<center></div>
<div>
<p>Так не реально просто благотворительная помощь, если кто еще не решил эту проблему.
Велосипедов я не изобретал. Это связка, на ароне nginx, потом бекендом его запросы обрабытывает
мой код на go, юзера хранятся как в мускуле, так и обычные юниксовые, самбовские, pptp-шные,
и для этой чатилки.</p>
<p>
На сбор всей чепухи понадобилось около двух-трх дней. Поторопился бы, было бы побыстрее.
Все исходники <a href="https://github.com/sh-serenity/cwork">Здесь на на gihub.</a>
Для инсталляции всего барахла достсточно какой-нибудь виртуалки, если захотите просто попробовать
Досточно просто запустить файлик ./install.sh site.net 192.168.какое_хотите_число, на debian 10
и оно вам все поставит в это сетке /24, которую вы указали. Домен будет смотреть в тот адрес вебом,
который вы к нему прикрутили. Сертифов не генерил для внешнего, certbot вам в помощь. 
Пока оно смотрит просто на 80 порт по дефолту.
</p>

<p>Спасибо, если кто-то уделил внимание</p

</div>

{{ template "footer" }}

{{ end }}