{{ define "index" }}

{{ template "header" }}

<div><center><a href="/reg/">Регистрация</a><a href="/enter/">Вход</a><a href="/reghelp/">Справка по регистрации</a>'<center></div>
<div>
<p>Я надеюссь, что мой примерчик кому-нибудь поможет.
Велосипедов я не изобретал. Это связка, на фронте nginx, потом бекендом его запросы обрабытывает
мой код на go, юзера хранятся как в мускуле, так же создаются и системные, и для windows файлобмена, pptp-шные,
да там pptp, потому что точилось под винду, чтобы у юзеров с ней проблем не возникло, а также 
и для этой чата..</p>
<p>
На сбор этого понадобилось около двух-трх дней. 
Все исходники <a href="https://github.com/sh-serenity/cwork">Здесь на на gihub.</a>
Для инсталляции всего достаточно какой-нибудь виртуалки, если захотите просто попробовать, и признать
годной к работе.
Досточно просто запустить файлик ./install.sh site.net 192.168.12 где 192.168.12 адерс подсетки
в котороой будут выделятся адреса для юзеров, 192.168.12.1 будет самим сервером с файлами, на внешнем интерфейсе
будет висеть только nginx. Файлик пригоден только для debain 10, но под ubuntu переделать вообще не проблема,
и даже на CentOS. В процессе установки спросит какой пароль установить на mysql. юзеру root. Потом еще раз спросит,
когда будет класть костяк базы. Даннные для доступа к базе лежат в /opt/go/cwork/dbconn.go. Если захотите поменять,
меняете пароль в mysql, потом в файле, для удобства есть файл build.sh, а сам сервис так и называется cwork,
и его легко перегрузить командой systemctl restart cwork.
Сертификатов инсталятор не генерерирует внешний айпи доступен по 80 порту, когда найдйте какой к нему домен прикрутить,
или если уже сертификат есть - поставите. Если нет, зайдите в гугл и напишите certbot nginx. Сразу ссылка появится
</p>

<p>Спасибо, если кто-то уделил внимание</p>

</div>

{{ template "footer" }}

{{ end }}